body {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: "Lemon", serif;
  font-size: 40px;
  color: rgb(239, 104, 203);
}

main {
  font-family: "Diphylleia", serif;
  font-size: 20px;
}

input,
button {
  font-family: "PT Serif", serif;
  font-size: 18px;
}
#flex-container {
  display: flex;
  flex-direction: column;
  display: inline-block;
  background-color: rgb(243, 200, 235);
}

input {
  width: 150px;
}

#input-container {
  display: flex;
}

ul {
  padding: 0;
}
li {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
}
